<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>auto parts demo</title>

    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../css/main.css"/>

</head>
<body>
<div th:replace="header :: header"/>
<table width="700">
    <tr>
        <td>
            <div th:replace="menu :: menu"/>
        </td>
        <td>
            <style>
#autoParts {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#autoParts td, #autoParts th {
  border: 1px solid #ddd;
  padding: 8px;
}

#autoParts tr:nth-child(even){background-color: #f2f2f2;}

#autoParts tr:hover {background-color: #ddd;}

#autoParts th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}
</style>

            <table id="autoParts">
                            <tr>
                                <th>index</th>
                                <th>name</th>
                                <th>manufacturer</th>
                                <th>count</th>
                                <th>price</th>
                                <th>deliverydays</th>
                                <th>delete</th>
                            </tr>
                            <tr th:each="productItem : ${response}">

                                <td th:text="${productItem.index}">someindex</td>
                                <td th:text="${productItem.name}">somename</td>
                                <td th:text="${productItem.manufacturer}">somemanufacturer</td>
                                <td th:text="${productItem.count}">somecount</td>
                                <td th:text="${productItem.price}">someprice</td>
                                <td th:text="${productItem.deliverydays}">somedeliverydays</td>
                                <td>
                                    <a th:href="${productItem.deleteUrl}">delete</a>
                                </td>
<!--                    <td>-->
                </tr>
            </table>



                        <span th:text="${response2}"></span>
                        <a th:href="${urLSubmit}" th:text="submit"></a>


                    </td>
    </tr>


</table>


<div th:replace="footer :: footer"/>
</body>
</html>