<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head></head>
<body>
<h1>Login</h1>
<form  action="#" th:action="@{/user/login}" th:object="${user}" method="post" enctype="utf8">
    <table>
        <tr>
            <td>User:</td>
            <td><input type='text' name='username' value=''th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type='password' name='password' th:field="*{password}"/></td>
        </tr>
        <tr>

            <td><input name="submit" type="submit" value="submit" /></td>
            <td><a th:href="registerUser">registration</a></td>

        </tr>

    </table>
</form>
</body>
</html>