<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>auto parts demo</title>

    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../css/main.css"/>
</head>
<body>
<div th:replace="header :: header"/>
<form action="#" th:action="@{/user/login}" th:object="${user}" method="post" enctype="utf8">

    <table width="700">
        <tr>
            <td>
                <div th:replace="menu :: menu"/>
            </td>

            <td>

                <table width="350" height="100" border="5" bgcolor="5FFA5F" align="center">
                    <h1 align="center" border="1">Login</h1>

                    <tr>
                        <td>User:</td>
                        <td><input type='text' name='username' value='' th:field="*{name}"></td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td><input type='password' name='password' th:field="*{password}"/></td>
                    </tr>
                    <tr>

                        <td><input name="submit" type="submit" value="submit"/></td>
                        <td><a th:href="registerUser">registration</a></td>

                    </tr>

                </table>
            </td>
        </tr>


    </table>
</form>
<div th:replace="footer :: footer"/>
</sec:authorize>
</body>
</html>