<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>auto parts demo2</title>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8" />
</head>
<body>
<a th:text="${currentOrderId}">id</a>
<a th:text="${orderModel.status}">status</a>
<a th:text="${orderModel.userMId}">userMId</a>
<a th:text="${orderModel.userCId}">userCId</a>
<a th:text="${currentOrderName}">action</a>

<a th:href="${url}">urlHere</a>

<table>
    <tr>
        <th>id</th>
        <th>status</th>
        <th>userMId</th>
        <th>userCId</th>
        <th>url</th>
    </tr>
    <tr th:each="orderItem : ${orderListModel}">
        <td th:text="${orderItem.id}">someId</td>
        <td th:text="${orderItem.status}">someStatus</td>
        <td th:text="${orderItem.userMId}">someUser_m_id</td>
        <td th:text="${orderItem.userCId}">someUser_c_id</td>
        <td>
            <a th:href="${orderItem.url}" th:text="${orderItem.name}">
            </a>
        </td>
    </tr>
</table>

</body>
</html>