<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>auto parts products info</title>

    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../css/main.css"/>

</head>
<body>


<div th:replace="header :: header"/>
<table width="700">
    <tr>
        <td>
            <div th:replace="menu :: menu"/>
        </td>
        <td>
            <table width="940" height="700" bgcolor="5FFA5F" align="center">
                <tr>
                    <td align="center">
<!--                        <img src="http://localhost:8880/application/product/image/"+{productItem.id}  width="50" height="50">-->
                        <img th:src="@{${'/product/image/' + productItem.id}}" title="TODO" width="150" height="150" />
                        <table border="1" align="center">
                            <tr>
                                <th>id</th>
                                <th>index</th>
                                <th>name</th>
                                <th>manufacturer</th>
                            </tr>
                            <tr>

                                <td th:text="${productItem.id}">someId</td>
                                <td>
                                    <a th:href="${productItem.url}" th:text="${productItem.index}"></a>
                                </td>
                                <td th:text="${productItem.name}">someName</td>
                                <td th:text="${productItem.manufacturer}">someManufacturer</td>
                                <td>
                                    <table border="1" align="center">
                                        <tr>
                                            <th>value</th>
                                            <th>count</th>
                                            <th>active</th>
                                            <th>deliverydays</th>
                                        </tr>
                                        <tr th:each="priceItem : ${productItem.priceModels}">
                                            <td th:text="${priceItem.value}">someValue</td>
                                            <td th:text="${priceItem.count}">someC</td>
                                            <td th:text="${priceItem.active}">someA</td>
                                            <td th:text="${priceItem.deliverydays}">someD</td>
                                            <td>
                                                <a th:href="${priceItem.url}">add to cart</a>
                                                </td>
                                        </tr>


                                    </table>
                                </td>
                            </tr>

                        </table>
                    <td>
                </tr>
            </table>
        </td>
    </tr>


</table>


<div th:replace="footer :: footer"/>
</body>
</html>