<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>auto parts demo</title>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8" />
</head>
<body>
<a th:text="${currentProductId}">id</a>
<a th:text="${productModel.name}">name</a>
<a th:text="${currentProductName}">action</a>

<a th:href="${url}">urlHere</a>

<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>url</th>
    </tr>
    <tr th:each="productItem : ${productListModel}">
        <td th:text="${productItem.id}">someId</td>
        <td th:text="${productItem.name}">someName</td>
        <td>
            <a th:href="${productItem.url}" th:text="${productItem.name}">
            </a>
        </td>
    </tr>
</table>

</body>
</html>