<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>auto parts demo</title>

    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../css/main.css"/>

</head>
<body>

<div th:replace="header :: header"/>
<table width="700">
    <tr>
        <td>
            <div th:replace="menu :: menu"/>
        </td>
        <td>
            <style>
#autoParts {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#autoParts td, #autoParts th {
  border: 1px solid #ddd;
  padding: 8px;
}

#autoParts tr:nth-child(even){background-color: #f2f2f2;}

#autoParts tr:hover {background-color: #ddd;}

#autoParts th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>

            <table id="autoParts">
                            <tr>
                                <th>id</th>
                                <th>name</th>
                                <th>email</th>
                                <th>role_id</th>
                                <th>password</th>
                                <th>address_id</th>
                                <th>status</th>


                            </tr>
                            <tr th:each="userItem : ${usersList}">

                                <td th:text="${userItem.id}">someId</td>
                                <td th:text="${userItem.name}">someName</td>
                                <td th:text="${userItem.email}">someEmail</td>
                                <td th:text="${userItem.role_id}">someRole</td>
                                <td th:text="${userItem.password}">somePassword</td>
                                <td th:text="${userItem.address_id}">someAddress</td>
                                <td th:text="${userItem.status}">someStatus</td>


                            </tr>

                        </table>
                    <td>
                </tr>
            </table>
        </td>
    </tr>


</table>


</table>
</td>
</tr>
</table>
<div th:replace="footer :: footer"/>
</body>
</html>